.catalog-container {
  height: 1024px;
  padding-top: var(--catalog-pt);
  padding-bottom: var(--catalog-pb);
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.catalog-title {
  font-size: var(--28px);
  font-weight: var(--regular);
  padding-bottom: 25px;

}

.single-category-item {
  display: flex;
  padding-right: 15px;
}

.single-category-item p {
  font-size: var(--21px);
  padding: 24px 30px;
}

.single-category-item img {
  margin-right: 34px;
  height: 50px;
  width: 50px;
  object-fit: contain;
}


.categories-left-side {
  background: var(--yellow);
  position: absolute;
  left: -1670px;
  padding-left: 1700px;
}