.hero-container {
  height: 720px;
  background-color: var(--yellow);
  display: flex;
  align-items: center;
  text-align: center;
}

.hero-container img {
  margin-bottom: var(--21px);
}

.hero-container h1 {
  font-weight: var(--regular);
  font-size: var(--37px);
  margin-bottom: 40px;
}

.hero-container .container button {
  font-size: var(--21px);
  border-radius: var(--border-radius);
  padding: 13px 31px 14px 31px;
  border: none;
  background-color: var(--green);
  color: white;
}

.hero-container .container button:hover {
  background-color: var(--hover-green);
}

.hero-animation-paws {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.hero-animation-logo {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

/* animations */

.tracking-in-expand {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2s both;
  z-index: 1;
  position: relative
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.puff-in-center {
  animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) 2s both;
}

@keyframes puff-in-center {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}

.paws-left {
  animation: go-left 1.8s cubic-bezier(0.470, 0.000, 0.745, 0.715) both
}

@keyframes go-left {
  0% {
    transform: translateX(0);
    filter: blur(0px);
    opacity: 1;
  }

  90% {
    filter: blur(0px);
  }

  100% {
    transform: translateX(-280px);
    filter: blur(8px);
    opacity: 1;
  }
}

.paws-right {
  animation: go-right 1.8s cubic-bezier(0.470, 0.000, 0.745, 0.715) both
}

@keyframes go-right {
  0% {
    transform: translateX(0);
    filter: blur(0px);
    opacity: 1;
  }

  90% {
    filter: blur(0px);
  }

  100% {
    transform: translateX(280px);
    filter: blur(8px);
    opacity: 1;
  }
}

.fade-out {
  animation: fade-out 2s ease-out both;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}