.pop-items-container {
  padding-top: var(--pop-pt);
  padding-bottom: var(--pop-pb);
  display: flex;
  justify-content: space-between;
}

.pop-items-right-side h3,
.pop-items-left-side h3 {
  font-size: var(--28px);
  font-weight: var(--regular);
  padding-bottom: 45px;
}

.pop-items-right-side {
  flex-basis: 506px;
}

.pop-items-left-side {
  flex-basis: 812px;
}

.pop-items {
  height: 795px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 40px;
  row-gap: 32px;
}


.single-item {
  max-width: 244px;
  position: relative;
}

.single-item img {
  height: 312px;
  object-fit: contain;
}


.single-item p {
  text-align: left;
  font-size: var(--16px);
  font-weight: var(--semi-bold);
}

.new-item-container {
  background-color: var(--yellow);
  padding: 35px;
}

.new-item-container img {
  height: 477px;
  width: 436px;
  object-fit: cover;
  background-color: #fff;
}

.new-item-desc {
  background-color: #fff;
  padding: 35px;
  margin-bottom: 35px;
}

.new-item-desc h4 {
  font-size: var(--21px);
  font-weight: var(--regular);
  margin-bottom: 15px;
}

.new-item-desc p {
  font-size: var(--16px);
}

.new-item-desc p:first-of-type {
  margin-bottom: 15px;
}

.hot-new-icons {
  position: absolute;
  width: 57px;
  height: 48px;
  right: 10px;
  top: -115px;
}

@media screen and (min-width: 481px) and (max-width: 768px) {

  .pop-items-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .pop-items-right-side {
    min-width: 337px;
    max-height: 668px;
  }

  .new-item-desc h4,
  .new-item-desc p {
    font-size: var(--16px);
  }

  .pop-items-left-side {
    width: 368px;
    margin-right: 23px;
    max-height: 668px;
  }

  .pop-items {
    column-gap: 20px;
    justify-content: flex-end;

  }

  .single-item {
    text-align: center;
    max-width: 174px;
  }

  .single-item img {
    height: 140px;
  }

  .new-item-container img {
    height: 415px;
    width: 291px;
  }

  .hot-new-icons {
    top: -80px;
  }

}


@media screen and (min-width: 769px) and (max-width: 1024px) {

  .pop-items-container {
    padding-left: 20px;
    padding-right: 20px;
  }



  .new-item-desc h4,
  .new-item-desc p {
    font-size: var(--16px);
  }

  .pop-items-left-side {
    margin-right: 23px;
  }

  .pop-items {
    column-gap: 20px;
    justify-content: space-evenly;
  }

  .single-item {
    text-align: center;
    max-width: 174px;
  }

  .single-item img {
    min-height: 140px;
  }

  .new-item-container img {
    height: 415px;
    width: 291px;
  }

  .hot-new-icons {
    top: -80px;
  }

}

@media screen and (min-width: 1025px) and (max-width: 1320px) {

  .pop-items-container {
    padding-left: 20px;
    padding-right: 20px;
  }


  .new-item-desc h4,
  .new-item-desc p {
    font-size: var(--16px);
  }

  .pop-items-left-side {
    margin-right: 23px;
  }

  .pop-items {
    column-gap: 20px;
    justify-content: space-evenly;
  }

  .single-item {
    text-align: center;
    max-width: 174px;
  }

  .single-item img {
    min-height: 140px;
  }

  .new-item-container img {
    height: 415px;
    width: 291px;
  }

  .hot-new-icons {
    top: -80px;
  }

}