.contacts-container {
  padding-bottom: var(--contact-pb);
  padding-top: var(--contact-pt);
}

.contacts-left {
  background-color: var(--yellow);
  width: 638px;
  height: 744px;
  position: relative;
  margin-left: 82px;
  font-size: var(--16px);
}

.open-times {
  position: absolute;
  width: 214px;
  height: 201px;
  left: -60px;
  top: 83px;
  padding: 68px 28px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.open-times ul {
  padding: 0;
  margin: 0;
}

.open-times ul li {
  list-style: none;
  line-height: 30px;

  font-weight: var(--regular);
}

.location {
  position: absolute;
  padding: 68px 28px;
  background-color: white;
  bottom: 42px;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location img {
  width: 50px;
  height: 50px;
  margin-bottom: 38px;
}

.location-desc p:first-of-type {
  margin-bottom: 30px;
}

.location-desc span {
  font-weight: var(--semi-bold);
}